In [1]:
# Interactive shell of Ipython is used to execute multiple statements at a time
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity='all'

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn as skt
import seaborn as sns

In [3]:
df = pd.read_csv('C:\\Users\\Surendra\\OneDrive\\Desktop\\Capstone\\New_data\\for_analysis_updated.csv')
df.head()
df.describe()

,BankName-CardVariant,AnnualFee1stYear,AnnualFee2ndYear,MinimumSpendsForAnnualFeeReversal,AnnualFeeReversal,OverdueMonthlyInterest,OverdueAnnualInterest,CashWithdrawalFee,CashWithdrawalMinFee,CardReplacementFee,...,Car Rentals Cashback in Rupees,Train Booking Cashback in Rupees,Movie Ticket Cashback in Rupees,Other cashback in Rupees,Minimum Spend,Domestic Travel Minimum Spend,Mimimum Annual spend,Maximum Cashback,Maximum Reward points,Reward point VS Cash (x:1)
0,HDFC-6E Rewards XL-IndiGo HDFC Bank,0,2500,0,0,3.6,43.2,2.5,500,0,...,0,0,0,0,0,0,0,0,0,0
1,HDFC-6E Rewards-IndiGo HDFC Bank,0,700,0,0,3.6,43.2,2.5,500,0,...,0,0,0,0,0,0,0,0,0,0
2,ICICI-Accelero ICICI Bank Credit Card,0,499,125000,1,3.4,40.8,0.0,0,100,...,0,0,0,0,100,0,0,0,0,0
3,SBI-Air India SBI Platinum Card,1499,1499,0,0,3.5,42.0,2.5,500,0,...,0,0,0,0,100,0,0,0,0,1
4,SBI-Air India SBI Signature Card,4999,4999,0,0,3.5,42.0,2.5,500,0,...,0,0,0,0,100,0,0,0,0,1

,AnnualFee1stYear,AnnualFee2ndYear,MinimumSpendsForAnnualFeeReversal,AnnualFeeReversal,OverdueMonthlyInterest,OverdueAnnualInterest,CashWithdrawalFee,CashWithdrawalMinFee,CardReplacementFee,ForeignCurrencyTransactionsFee,...,Car Rentals Cashback in Rupees,Train Booking Cashback in Rupees,Movie Ticket Cashback in Rupees,Other cashback in Rupees,Minimum Spend,Domestic Travel Minimum Spend,Mimimum Annual spend,Maximum Cashback,Maximum Reward points,Reward point VS Cash (x:1)
count,187.000000,187.000000,187.000000,187.000000,187.000000,187.000000,187.000000,187.000000,187.000000,187.000000,...,187.0,187.000000,187.0,187.0,187.000000,187.000000,187.000000,187.000000,187.000000,187.000000
mean,673.470588,1552.032086,53877.005348,0.326203,2.250535,27.965134,1.684492,336.898396,12.299465,1.815508,...,0.0,0.133690,0.0,0.0,101.203209,26.737968,2673.796791,17.112299,317.112299,1.080214
std,1311.776372,4058.534018,118467.230874,0.470081,1.688651,21.152496,1.175203,235.040617,32.931277,1.744246,...,0.0,1.828181,0.0,0.0,366.537888,365.636212,16174.967651,163.714291,1963.217187,1.753333
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,500.000000,0.000000,0.000000,3.500000,42.000000,2.500000,500.000000,0.000000,3.500000,...,0.0,0.000000,0.0,0.0,100.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,499.000000,1499.000000,62500.000000,1.000000,3.500000,42.000000,2.500000,500.000000,0.000000,3.500000,...,0.0,0.000000,0.0,0.0,150.000000,0.000000,0.000000,0.000000,0.000000,4.000000
max,4999.000000,50000.000000,1000000.000000,1.000000,3.670000,52.860000,2.500000,500.000000,100.000000,3.500000,...,0.0,25.000000,0.0,0.0,5000.000000,5000.000000,100000.000000,2000.000000,20000.000000,4.000000

In [4]:
df.isnull().sum()
df.columns
df.dtypes

BankName-CardVariant                              0
AnnualFee1stYear                                  0
AnnualFee2ndYear                                  0
MinimumSpendsForAnnualFeeReversal                 0
AnnualFeeReversal                                 0
OverdueMonthlyInterest                            0
OverdueAnnualInterest                             0
CashWithdrawalFee                                 0
CashWithdrawalMinFee                              0
CardReplacementFee                                0
ForeignCurrencyTransactionsFee                    0
ZeroCharge                                        0
JoiningOrAnnualFee                                0
AnnualInterestRate                                0
AnnualMinSpendLimit                               0
DomesticAirportLoungeBenefits                     0
InternationalAirportLoungeBenefits                0
RailwayLounge                                     0
MinumumAmountSpendtoavailBenefit                  0
FuelSurchargeWaiverinPercentage                   0
FuelDiscount/CashbackinPercentage                 0
Maximum FuelDiscount/CashbackinRupees             0
FuelRewardPoints                                  0
MinimumSpendinRupees                              0
MaximumDiscount/WaiverinRupees                    0
E-Commerce Cashback in percentage                 0
Merchant Cashback in percentage                   0
Mobile Recharge/wallet Cashback in percentage     0
Domestic Air Ticket Cashback in percentage        0
Movie Ticket Cashback in percentage               0
Fuel Cashback in percentage                       0
Utility Cashback in percentage                    0
Domestic Travel in Percentage                     0
Domestic Hotel spend Cashback in percentage       0
Other Cashback in percentage                      0
Cashback in points                                0
Payback points for online spend                   0
Payback points for Utility spend                  0
Payback points for dining/Hotel                   0
Payback points on Fuel Spend                      0
Payback points on Domestic Travel spend           0
Payback points for Annual spend limit             0
domestic Air Ticket cashback in rupees            0
International Air Ticket cashback in rupees       0
Domestic Hotel booking Cashback in Rupees         0
International Hotel booking Cashback in Rupees    0
Bus Ticket Booking Cashback in Rupees             0
Car Rentals Cashback in Rupees                    0
Train Booking Cashback in Rupees                  0
Movie Ticket Cashback in Rupees                   0
Other cashback in Rupees                          0
Minimum Spend                                     0
Domestic Travel Minimum Spend                     0
Mimimum Annual spend                              0
Maximum Cashback                                  0
Maximum Reward points                             0
Reward point VS Cash (x:1)                        0
dtype: int64

Index(['BankName-CardVariant', 'AnnualFee1stYear', 'AnnualFee2ndYear',
       'MinimumSpendsForAnnualFeeReversal', 'AnnualFeeReversal',
       'OverdueMonthlyInterest', 'OverdueAnnualInterest', 'CashWithdrawalFee',
       'CashWithdrawalMinFee', 'CardReplacementFee',
       'ForeignCurrencyTransactionsFee', 'ZeroCharge', 'JoiningOrAnnualFee',
       'AnnualInterestRate', 'AnnualMinSpendLimit',
       'DomesticAirportLoungeBenefits', 'InternationalAirportLoungeBenefits',
       'RailwayLounge', 'MinumumAmountSpendtoavailBenefit',
       'FuelSurchargeWaiverinPercentage', 'FuelDiscount/CashbackinPercentage',
       'Maximum FuelDiscount/CashbackinRupees', 'FuelRewardPoints',
       'MinimumSpendinRupees', 'MaximumDiscount/WaiverinRupees',
       'E-Commerce Cashback in percentage', 'Merchant Cashback in percentage',
       'Mobile Recharge/wallet Cashback in percentage',
       'Domestic Air Ticket Cashback in percentage',
       'Movie Ticket Cashback in percentage', 'Fuel Cashback in percentage',
       'Utility Cashback in percentage', 'Domestic Travel in Percentage',
       'Domestic Hotel spend Cashback in percentage',
       'Other Cashback in percentage', 'Cashback in points',
       'Payback points for online spend', 'Payback points for Utility spend',
       'Payback points for dining/Hotel', 'Payback points on Fuel Spend',
       'Payback points on Domestic Travel spend',
       'Payback points for Annual spend limit',
       'domestic Air Ticket cashback in rupees',
       'International Air Ticket cashback in rupees',
       'Domestic Hotel booking Cashback in Rupees',
       'International Hotel booking Cashback in Rupees',
       'Bus Ticket Booking Cashback in Rupees',
       'Car Rentals Cashback in Rupees', 'Train Booking Cashback in Rupees',
       'Movie Ticket Cashback in Rupees', 'Other cashback in Rupees',
       'Minimum Spend', 'Domestic Travel Minimum Spend',
       'Mimimum Annual spend', 'Maximum Cashback', 'Maximum Reward points',
       'Reward point VS Cash (x:1)'],
      dtype='object')

BankName-CardVariant                               object
AnnualFee1stYear                                    int64
AnnualFee2ndYear                                    int64
MinimumSpendsForAnnualFeeReversal                   int64
AnnualFeeReversal                                   int64
OverdueMonthlyInterest                            float64
OverdueAnnualInterest                             float64
CashWithdrawalFee                                 float64
CashWithdrawalMinFee                                int64
CardReplacementFee                                  int64
ForeignCurrencyTransactionsFee                    float64
ZeroCharge                                          int64
JoiningOrAnnualFee                                  int64
AnnualInterestRate                                  int64
AnnualMinSpendLimit                                 int64
DomesticAirportLoungeBenefits                       int64
InternationalAirportLoungeBenefits                  int64
RailwayLounge                                       int64
MinumumAmountSpendtoavailBenefit                    int64
FuelSurchargeWaiverinPercentage                   float64
FuelDiscount/CashbackinPercentage                 float64
Maximum FuelDiscount/CashbackinRupees               int64
FuelRewardPoints                                  float64
MinimumSpendinRupees                                int64
MaximumDiscount/WaiverinRupees                      int64
E-Commerce Cashback in percentage                 float64
Merchant Cashback in percentage                   float64
Mobile Recharge/wallet Cashback in percentage       int64
Domestic Air Ticket Cashback in percentage        float64
Movie Ticket Cashback in percentage                 int64
Fuel Cashback in percentage                       float64
Utility Cashback in percentage                      int64
Domestic Travel in Percentage                       int64
Domestic Hotel spend Cashback in percentage         int64
Other Cashback in percentage                      float64
Cashback in points                                  int64
Payback points for online spend                     int64
Payback points for Utility spend                  float64
Payback points for dining/Hotel                   float64
Payback points on Fuel Spend                        int64
Payback points on Domestic Travel spend             int64
Payback points for Annual spend limit               int64
domestic Air Ticket cashback in rupees              int64
International Air Ticket cashback in rupees         int64
Domestic Hotel booking Cashback in Rupees           int64
International Hotel booking Cashback in Rupees      int64
Bus Ticket Booking Cashback in Rupees               int64
Car Rentals Cashback in Rupees                      int64
Train Booking Cashback in Rupees                    int64
Movie Ticket Cashback in Rupees                     int64
Other cashback in Rupees                            int64
Minimum Spend                                       int64
Domestic Travel Minimum Spend                       int64
Mimimum Annual spend                                int64
Maximum Cashback                                    int64
Maximum Reward points                               int64
Reward point VS Cash (x:1)                          int64
dtype: object

In [5]:
# target = df['BankName-CardVariant']
# df.drop('BankName-CardVariant',axis=1,inplace=True)

In [6]:
df.columns

Index(['BankName-CardVariant', 'AnnualFee1stYear', 'AnnualFee2ndYear',
       'MinimumSpendsForAnnualFeeReversal', 'AnnualFeeReversal',
       'OverdueMonthlyInterest', 'OverdueAnnualInterest', 'CashWithdrawalFee',
       'CashWithdrawalMinFee', 'CardReplacementFee',
       'ForeignCurrencyTransactionsFee', 'ZeroCharge', 'JoiningOrAnnualFee',
       'AnnualInterestRate', 'AnnualMinSpendLimit',
       'DomesticAirportLoungeBenefits', 'InternationalAirportLoungeBenefits',
       'RailwayLounge', 'MinumumAmountSpendtoavailBenefit',
       'FuelSurchargeWaiverinPercentage', 'FuelDiscount/CashbackinPercentage',
       'Maximum FuelDiscount/CashbackinRupees', 'FuelRewardPoints',
       'MinimumSpendinRupees', 'MaximumDiscount/WaiverinRupees',
       'E-Commerce Cashback in percentage', 'Merchant Cashback in percentage',
       'Mobile Recharge/wallet Cashback in percentage',
       'Domestic Air Ticket Cashback in percentage',
       'Movie Ticket Cashback in percentage', 'Fuel Cashback in percentage',
       'Utility Cashback in percentage', 'Domestic Travel in Percentage',
       'Domestic Hotel spend Cashback in percentage',
       'Other Cashback in percentage', 'Cashback in points',
       'Payback points for online spend', 'Payback points for Utility spend',
       'Payback points for dining/Hotel', 'Payback points on Fuel Spend',
       'Payback points on Domestic Travel spend',
       'Payback points for Annual spend limit',
       'domestic Air Ticket cashback in rupees',
       'International Air Ticket cashback in rupees',
       'Domestic Hotel booking Cashback in Rupees',
       'International Hotel booking Cashback in Rupees',
       'Bus Ticket Booking Cashback in Rupees',
       'Car Rentals Cashback in Rupees', 'Train Booking Cashback in Rupees',
       'Movie Ticket Cashback in Rupees', 'Other cashback in Rupees',
       'Minimum Spend', 'Domestic Travel Minimum Spend',
       'Mimimum Annual spend', 'Maximum Cashback', 'Maximum Reward points',
       'Reward point VS Cash (x:1)'],
      dtype='object')

In [7]:
# ### Minmax scaling

# from sklearn.preprocessing import MinMaxScaler
# minmax = MinMaxScaler(feature_range=(0,1))

# df_mm = minmax.fit_transform(df)

# df_mm_df = pd.DataFrame(df_mm)
# df_mm_df.head()

In [8]:
# Select 'HDFC-6E Rewards-IndiGo HDFC Bank' from our dataset
# selected_card = df[df["BankName-CardVariant"] == "HDFC-6E Rewards-IndiGo HDFC Bank"].iloc[0]
selected_card = df[df["BankName-CardVariant"] == "SBI-Air India SBI Signature Card"].iloc[0]

In [9]:
# Choose only the numeric columns (we'll use these to compute euclidean distance)
distance_columns = ['AnnualFee1stYear', 'AnnualFee2ndYear','MinimumSpendsForAnnualFeeReversal', 'AnnualFeeReversal',
                         'OverdueMonthlyInterest', 'OverdueAnnualInterest', 'CashWithdrawalFee','CashWithdrawalMinFee',
                         'CardReplacementFee','ForeignCurrencyTransactionsFee', 'ZeroCharge', 'JoiningOrAnnualFee',
                         'AnnualInterestRate', 'AnnualMinSpendLimit','DomesticAirportLoungeBenefits',
                         'InternationalAirportLoungeBenefits','RailwayLounge', 'MinumumAmountSpendtoavailBenefit',
                         'FuelSurchargeWaiverinPercentage', 'FuelDiscount/CashbackinPercentage',
                         'Maximum FuelDiscount/CashbackinRupees', 'FuelRewardPoints','MinimumSpendinRupees', 
                         'MaximumDiscount/WaiverinRupees','E-Commerce Cashback in percentage',
                         'Merchant Cashback in percentage','Mobile Recharge/wallet Cashback in percentage',
                         'Domestic Air Ticket Cashback in percentage','Movie Ticket Cashback in percentage',
                         'Fuel Cashback in percentage','Utility Cashback in percentage', 'Domestic Travel in Percentage',
                         'Domestic Hotel spend Cashback in percentage', 'Other Cashback in percentage', 'Cashback in points',
                         'Payback points for online spend','Payback points for Utility spend','Payback points for dining/Hotel',
                         'Payback points on Fuel Spend','Payback points on Domestic Travel spend',
                         'Payback points for Annual spend limit','domestic Air Ticket cashback in rupees',
                         'International Air Ticket cashback in rupees','Domestic Hotel booking Cashback in Rupees',
                         'International Hotel booking Cashback in Rupees', 'Bus Ticket Booking Cashback in Rupees',
                         'Car Rentals Cashback in Rupees', 'Train Booking Cashback in Rupees','Movie Ticket Cashback in Rupees',
                         'Other cashback in Rupees','Minimum Spend', 'Domestic Travel Minimum Spend','Mimimum Annual spend',
                         'Maximum Cashback', 'Maximum Reward points', 'Reward point VS Cash (x:1)']

In [10]:
# Select only the numeric columns from the dataset
nba_numeric = df[distance_columns]
# Normalize all of the numeric columns
nba_normalized = (nba_numeric - nba_numeric.mean()) / nba_numeric.std()

In [11]:
import math
def euclidean_distance(row):
    """
    A simple euclidean distance function
    """
    inner_value = 0
    for k in distance_columns:
        inner_value += (row[k] - selected_card[k]) ** 2
    return math.sqrt(inner_value)

# Find the distance from each card in the dataset to selected card.
card_distance = df.apply(euclidean_distance, axis=1)

In [12]:
# Finding the nearest neighbor
from scipy.spatial import distance

# Fill in NA values in nba_normalized
nba_normalized.fillna(0, inplace=True)

# Find the normalized vector for selected card.
# lebron_normalized = nba_normalized[df["BankName-CardVariant"] == "HDFC-6E Rewards-IndiGo HDFC Bank"]
card_normalized = nba_normalized[df["BankName-CardVariant"] == "SBI-Air India SBI Signature Card"]


# Find the distance between two cards and every other card.
euclidean_distances = nba_normalized.apply(lambda row: distance.euclidean(row, card_normalized), axis=1)

In [13]:
# Create a new dataframe with distances.
distance_frame = pd.DataFrame(data={"dist": euclidean_distances, "idx": euclidean_distances.index})

In [14]:
distance_frame

          dist  idx
0    19.560568    0
1    19.046037    1
2    20.457166    2
3    13.542301    3
4     0.000000    4
..         ...  ...
182  19.470145  182
183  19.470145  183
184  19.425811  184
185  23.594808  185
186  19.684659  186

[187 rows x 2 columns]

In [15]:
distance_frame.sort_values("dist", inplace=True)
# Find the most similar card to selected card(the lowest distance to selected card is selected card, the second smallest is the most similar non-selected card)
second_smallest = distance_frame.iloc[1]["idx"]
most_similar_to_card = df.loc[int(second_smallest)]["BankName-CardVariant"]

In [16]:
most_similar_to_card

'SBI-Air India SBI Platinum Card'

In [17]:
bank_names = df['BankName-CardVariant']

In [18]:
# Create a new dataframe for bank names 
bank_df = pd.DataFrame(data={"Bank-Card": bank_names, "idx": euclidean_distances.index})

In [19]:
bank_df

                                  Bank-Card  idx
0       HDFC-6E Rewards XL-IndiGo HDFC Bank    0
1          HDFC-6E Rewards-IndiGo HDFC Bank    1
2    ICICI-Accelero ICICI Bank Credit Card     2
3           SBI-Air India SBI Platinum Card    3
4          SBI-Air India SBI Signature Card    4
..                                      ...  ...
182           HDFC - Regalia ForexPlus Card  182
183                      HDFC - Reward Card  183
184        HDFC - Titanium Edge Credit Card  184
185       HDFC - Visa Signature Credit Card  185
186     HDFC - World MasterCard Credit Card  186

[187 rows x 2 columns]

In [20]:
df['idx'] = bank_df['idx']

In [21]:
# import random
# from numpy.random import permutation

# # Randomly shuffle the index of nba.
# random_indices = permutation(df.index)

# # Set a cutoff for how many items we want in the test set (in this case 1/3 of the items)
# test_cutoff = math.floor(len(df)/3)

# # Generate the test set by taking the first 1/3 of the randomly shuffled indices.
# test = df.loc[random_indices[1:test_cutoff]]

# # Generate the train set with the rest of the data.
# train = df.loc[random_indices[test_cutoff:]]

In [22]:
# train

In [23]:
# The columns that we will be making predictions with.
x_columns = ['AnnualFee1stYear', 'AnnualFee2ndYear','MinimumSpendsForAnnualFeeReversal', 'AnnualFeeReversal',
                         'OverdueMonthlyInterest', 'OverdueAnnualInterest', 'CashWithdrawalFee','CashWithdrawalMinFee',
                         'CardReplacementFee','ForeignCurrencyTransactionsFee', 'ZeroCharge', 'JoiningOrAnnualFee',
                         'AnnualInterestRate', 'AnnualMinSpendLimit','DomesticAirportLoungeBenefits',
                         'InternationalAirportLoungeBenefits','RailwayLounge', 'MinumumAmountSpendtoavailBenefit',
                         'FuelSurchargeWaiverinPercentage', 'FuelDiscount/CashbackinPercentage',
                         'Maximum FuelDiscount/CashbackinRupees', 'FuelRewardPoints','MinimumSpendinRupees', 
                         'MaximumDiscount/WaiverinRupees','E-Commerce Cashback in percentage',
                         'Merchant Cashback in percentage','Mobile Recharge/wallet Cashback in percentage',
                         'Domestic Air Ticket Cashback in percentage','Movie Ticket Cashback in percentage',
                         'Fuel Cashback in percentage','Utility Cashback in percentage', 'Domestic Travel in Percentage',
                         'Domestic Hotel spend Cashback in percentage', 'Other Cashback in percentage', 'Cashback in points',
                         'Payback points for online spend','Payback points for Utility spend','Payback points for dining/Hotel',
                         'Payback points on Fuel Spend','Payback points on Domestic Travel spend',
                         'Payback points for Annual spend limit','domestic Air Ticket cashback in rupees',
                         'International Air Ticket cashback in rupees','Domestic Hotel booking Cashback in Rupees',
                         'International Hotel booking Cashback in Rupees', 'Bus Ticket Booking Cashback in Rupees',
                         'Car Rentals Cashback in Rupees', 'Train Booking Cashback in Rupees','Movie Ticket Cashback in Rupees',
                         'Other cashback in Rupees','Minimum Spend', 'Domestic Travel Minimum Spend','Mimimum Annual spend',
                         'Maximum Cashback', 'Maximum Reward points', 'Reward point VS Cash (x:1)']

# The column that we want to predict.
y_column = ["idx"]

In [24]:
from sklearn.neighbors import KNeighborsRegressor
# Create the knn model.
# Look at the five closest neighbors.
knn = KNeighborsRegressor(n_neighbors=5,p=1)

In [25]:
# Fit the model on the data.
knn.fit(df[x_columns], df[y_column])

KNeighborsRegressor(p=1)

In [26]:
print ("The MSE is:",format(np.power(df[y_column]-knn.predict(df[x_columns]),2).mean()))

The MSE is: idx    954.472513
dtype: float64

In [27]:
# Make point predictions on the dataset using the fit model.
predictions = knn.predict(df[x_columns])

In [28]:
predictions.shape

(187, 1)

In [29]:
predictions_df = pd.DataFrame(predictions)
predictions_df.columns=['idx_pred']
predictions_df

m=(predictions_df.dtypes=='float')
predictions_df.loc[:,m]=predictions_df.loc[:,m].astype(int)
predictions_df

     idx_pred
0        24.2
1        55.4
2        59.8
3        64.6
4        40.2
..        ...
182     167.0
183     167.0
184     176.2
185     179.0
186     176.2

[187 rows x 1 columns]

     idx_pred
0          24
1          55
2          59
3          64
4          40
..        ...
182       167
183       167
184       176
185       179
186       176

[187 rows x 1 columns]

In [30]:
predictions_df.head(1)
bank_df.head(1)

d = {}
for a, b in zip(bank_df['idx'], bank_df['Bank-Card']):
    if isinstance(a, list):
        for c in a:
            d[c] = b
    else:
        d[a] = b

predictions_df['Bank-Card'] = predictions_df['idx_pred'].map(d)
predictions_df

   idx_pred
0        24

                             Bank-Card  idx
0  HDFC-6E Rewards XL-IndiGo HDFC Bank    0

     idx_pred                                          Bank-Card
0          24                                  SBI-BPCL SBI Card
1          55                       SBI-FABINDIA SBI CARD SELECT
2          59  ICICI-ICICI Bank Coral American Express Credit...
3          64                ICICI-ICICI Bank Rubyx Credit Card
4          40                    SBI-Club Vistara SBI Card PRIME
..        ...                                                ...
182       167         HDFC - MakeMyTrip Hdfc Bank ForexPlus Card
183       167         HDFC - MakeMyTrip Hdfc Bank ForexPlus Card
184       176  HDFC - Multicurrency Platinum ForexPlus Chip Card
185       179                   HDFC - Platinum Plus Credit Card
186       176  HDFC - Multicurrency Platinum ForexPlus Chip Card

[187 rows x 2 columns]

In [31]:
# Get the actual values for the test set.
actual = df[y_column]
actual.shape

(187, 1)

In [32]:
actual

     idx
0      0
1      1
2      2
3      3
4      4
..   ...
182  182
183  183
184  184
185  185
186  186

[187 rows x 1 columns]

In [33]:
actual['Bank-card'] = df['BankName-CardVariant']
actual

<ipython-input-33-b1a8d6222ddb>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  actual['Bank-card'] = df['BankName-CardVariant']

     idx                               Bank-card
0      0     HDFC-6E Rewards XL-IndiGo HDFC Bank
1      1        HDFC-6E Rewards-IndiGo HDFC Bank
2      2  ICICI-Accelero ICICI Bank Credit Card
3      3         SBI-Air India SBI Platinum Card
4      4        SBI-Air India SBI Signature Card
..   ...                                     ...
182  182           HDFC - Regalia ForexPlus Card
183  183                      HDFC - Reward Card
184  184        HDFC - Titanium Edge Credit Card
185  185       HDFC - Visa Signature Credit Card
186  186     HDFC - World MasterCard Credit Card

[187 rows x 2 columns]

In [34]:
df_actual_pred = actual
df_actual_pred

     idx                               Bank-card
0      0     HDFC-6E Rewards XL-IndiGo HDFC Bank
1      1        HDFC-6E Rewards-IndiGo HDFC Bank
2      2  ICICI-Accelero ICICI Bank Credit Card
3      3         SBI-Air India SBI Platinum Card
4      4        SBI-Air India SBI Signature Card
..   ...                                     ...
182  182           HDFC - Regalia ForexPlus Card
183  183                      HDFC - Reward Card
184  184        HDFC - Titanium Edge Credit Card
185  185       HDFC - Visa Signature Credit Card
186  186     HDFC - World MasterCard Credit Card

[187 rows x 2 columns]

In [35]:
df_actual_pred['pred_id'] = predictions_df['idx_pred']
df_actual_pred['pred_Bank_Card'] = predictions_df['Bank-Card']
df_actual_pred

<ipython-input-35-1edfb2981228>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_actual_pred['pred_id'] = predictions_df['idx_pred']
<ipython-input-35-1edfb2981228>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_actual_pred['pred_Bank_Card'] = predictions_df['Bank-Card']

,idx,Bank-card,pred_id,pred_Bank_Card
0,0,HDFC-6E Rewards XL-IndiGo HDFC Bank,24,SBI-BPCL SBI Card
1,1,HDFC-6E Rewards-IndiGo HDFC Bank,55,SBI-FABINDIA SBI CARD SELECT
2,2,ICICI-Accelero ICICI Bank Credit Card,59,ICICI-ICICI Bank Coral American Express Credit...
3,3,SBI-Air India SBI Platinum Card,64,ICICI-ICICI Bank Rubyx Credit Card
4,4,SBI-Air India SBI Signature Card,40,SBI-Club Vistara SBI Card PRIME
...,...,...,...,...
182,182,HDFC - Regalia ForexPlus Card,167,HDFC - MakeMyTrip Hdfc Bank ForexPlus Card
183,183,HDFC - Reward Card,167,HDFC - MakeMyTrip Hdfc Bank ForexPlus Card
184,184,HDFC - Titanium Edge Credit Card,176,HDFC - Multicurrency Platinum ForexPlus Chip Card
185,185,HDFC - Visa Signature Credit Card,179,HDFC - Platinum Plus Credit Card
186,186,HDFC - World MasterCard Credit Card,176,HDFC - Multicurrency Platinum ForexPlus Chip Card

In [37]:
df_actual_pred.to_csv(r'C:\Users\Surendra\OneDrive\Desktop\Capstone\New_data\Card_predictions.csv', index = False)